.container {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid blue;
  border-radius: 8px;
  padding: 1rem;
}

.form > span {
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.form > textarea {
  resize: none;
}

.form > button {
  margin-top: 1rem;
  padding: 1rem;
  background-color: cyan;
}
