.go-back-button {
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: crimson;
}

.details-container {
  display: flex;
  justify-content: center;
}
.latest-image {
  max-width: 500px;
  max-height: 500px;
}

.delete-hero-button {
  width: 90%;
  padding: 0.5rem;
  margin-left: 1rem;
  background-color: darkseagreen;
}

h2 {
  text-align: center;
}

.add-image-to-hero-button {
  width: 100%;
  padding: 0.5rem;
  background-color: fuchsia;
}

.hero-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hero-image {
  padding: 1rem;
  max-width: 400px;
  max-height: 400px;
}
