.go-back-button {
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: crimson;
}

.details-container {
  display: flex;
  justify-content: center;
}
.latest-image {
  max-width: 500px;
  max-height: 500px;
}

h2 {
  text-align: center;
}

.add-image-to-hero-button {
  width: 100%;
  padding: 0.5rem;
  background-color: fuchsia;
}

.hero-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.single-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.single-image-container :hover + .delete-image-button-container,
.delete-image-button-container:hover {
  display: flex;
}

.delete-image-button-container {
  display: none;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
}

.delete-image-button {
  width: 80%;
  background-color: darkred;
  color: wheat;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 8px;
}

.hero-image {
  padding: 1rem;
  max-width: 400px;
  max-height: 400px;
}
