.container {
  display: flex;
  justify-content: space-evenly;
}

.container > button {
  width: 8rem;
  height: 2rem;
}

.number-buttons-container > button {
  width: 3rem;
  height: 2rem;
}

.active-button {
  background-color: cyan;
}
