.form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.form-like {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 1px solid blue;
  border-radius: 8px;
  padding: 1rem;
}

.action-buttons {
  display: flex;
  justify-content: space-evenly;
}

.action-buttons > button {
  padding: 1rem;
  width: 30%;
}

.save-button {
  background-color: greenyellow;
}

.cancel-button {
  background-color: grey;
}
